<div class="py-4">
  <div class="navbar__row">
    <div class="navbar__item navbar__item-brand">
      <a href="/">
        <img src="{{ 'logo.png' | asset_url }}" alt="DanielewenFinance." />
      </a>
    </div>

    <div class="navbar__items--right">
      <div class="navbar__item navbar__item-toggle">
        {% render 'icon-toggler' %}
      </div>
      <div class="navbar__item navbar__item-search">
        <form class="form-search" action="/search">
          <input type="text" placeholder="Search"
            name="q" value="{{ search.terms | escape }}"
            class="input-search"
          />
          <button type="submit" class="icon-btn">
            {% render 'icon-search' %}
          </button>
        </form>
      </div>
      <div class="navbar__item navbar__item-toggleshow">
        <button class="theme-btn">
          Log in
          {% render 'icon-right-arrow' %}
        </button>
      </div>
      <div class="navbar__item navbar__item-toggleshow">
        <button class="theme-btn">
          Sign up
          {% render 'icon-right-arrow' %}
        </button>
      </div>
      <div class="navbar__item">
        <a href="/cart" class="cart__link">
          {% render 'icon-shopping-bag' %}
          <span class="cart-count">Cart &#40;{{cart.item_count}}&#41;</span>
        </a>
      </div>
    </div>
  </div>

  <div class="navbar__column navbar__column-toggleshow">
    <div class="navbar__item-fluid">
      Log in
    </div>
    <div class="navbar__item-fluid">
      Sign up
    </div>
  </div>
</div>
