.customer__title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
}

.section-customer__detail {
  margin-top: 1rem;
}

.customer__detail {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 200%;
  text-transform: capitalize;
}

.customer__default_address p {
  margin-bottom: 0.5rem;
  color: rgba(255, 255, 255, .6);
  font-size: 1rem;
  line-height: 250%;
  font-weight: 300;
}

.customer__account_addresses_url {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
}

.customer__account_addresses_url:hover {
  color: #fff;
}

.section-manage__subscriptions {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
}

.customer__orders_title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  padding: 3rem 0 1rem;
}

.customer__orders__none {
  color: rgba(255, 255, 255, .6);
  font-size: 1rem;
  font-weight: 300;
}
