<div class="banner">
  <p class="banner-title">
    DanielewenFinance.
  </p>
  <p class="banner-subtitle">
    The Best Books <span class="">On This Platform!</span>
  </p>

  <p class="banner-desc">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque Sed ut
    perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
  </p>
  
</div>

{% section 'featured-collection' %}
